<a href="https://colab.research.google.com/github/Zahraan-Sharieff/Basic-Python/blob/main/Class_PIP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello zahraan")

hello zahraan

In [ ]:
# sum of two numbers
num1=25
num2=75
sum=num1+num2
print("the sum of the two numbers is:",sum)

the sum of the two numbers is: 100

In [ ]:
# multiplication of 3 nos
num1=5
num2=3
num3=3
product=num1*num2*num3
print("the product of the three numbers is:",product)

the product of the three numbers is: 45

In [ ]:
# division oftwo nos
num1=50
num2=5
division=num1/num2
print("the division of the two numbers is:",division)

the division of the two numbers is: 10.0

In [ ]:
name=("zahraan")
print("my name is",name)

my name is zahraan

In [ ]:
name=("sjpuc")
print(name)

sjpuc

In [ ]:
name=input("enter your number")
print(name)
type(name)

enter your number007
007

str

In [ ]:
# sum of two nos with user input

num1=int(input("Enter the value of the first variable"))
num2=int(input("eneter the value of the second variable"))

sum=num1+num2
print("the sum is:",sum)
print(type(num1))

Enter the value of the first variable10
eneter the value of the second variable10
the sum is: 20
<class 'int'>

In [ ]:
escape_character="He said,\"Python is fun!\""
print(escape_character)

He said,"Python is fun!"

In [ ]:
# string indexing
city="Bangalore"
print(city[0])

B

In [ ]:
# string slicing
#syntax[start:end:step]
city="bangalore"
print(city[0:4])

bang

In [ ]:
place="saudia"
print(place[0:5])

saudi

In [ ]:
print("arshaan")
print("arshaan ka pen is parker")
# revision-sum of 2 nos without user input
num1=43
num2=57

sum=num1+num2
print("the sum of two numbers is",sum)

num1=35
num2=89
num3=65
difference=num1-num2-num3
print(difference)

num1=5
num2=10
product=num1*num2
print("inka product hai",product)

jagah=("al-khobar")
print(jagah)

name=input("enter your number")
print(name)
type(name)

num1=int(input("enter your first variable"))
num2=int(input("eneter your second variable"))
sum=num1+num2
print("The sum of two nos is:",sum)
print(type(num1))

city='Bangalore'
print(city[0])

home="saudia"
print(home[0:5])

arshaan
arshaan ka pen is parker
the sum of two numbers is 100
-119
inka product hai 50
al-khobar
enter your number007
007
enter your first variable10
eneter your second variable10
The sum of two nos is: 20
<class 'int'>
B
saudi

In [ ]:
#lists

ages=[18,11,50]
print(ages)
type(ages)


groceries=['apples', 'orange', 'mangoes']
print(groceries[0])
print(groceries[2])
print(len(groceries))

colors=['red','green','black','blue']
print(colors[1])
print(len(colors))

[18, 11, 50]
apples
mangoes
3
green
4

In [ ]:
#accessing elements

#negative indexing


language=['python', 'swift', 'C++']
print('language[0]=', language[-3])
print('language[2]=', language[-1])

language[0]= python
language[2]= C++

In [ ]:
#inner lists

student=['donald trump', 20, 'politics', [2,4]]
print(student)
print('presidents name,age,occupation is', student[0],student[1],student[2])
print(len(student))
print(student[3][0])

['donald trump', 20, 'politics', [2, 4]]
presidents name,age,occupation is donald trump 20 politics
4
2

In [ ]:
#slicing of a list in python

my_list=['p','r','o','g','r','a','m']
print(my_list[0:5])
print(my_list[0:-2])
print(my_list[2:-2])
print('my_list[0:3=]', my_list[0:3])
print(my_list[ :-4])
print(my_list[:])

['p', 'r', 'o', 'g', 'r']
['p', 'r', 'o', 'g', 'r']
['o', 'g', 'r']
my_list[0:3=] ['p', 'r', 'o']
['p', 'r', 'o']
['p', 'r', 'o', 'g', 'r', 'a', 'm']

In [ ]:
# adding elements to a list
#can also be added to a specific place in te list

fruits=['apples', 'bananas', 'mangoes']
print("original list", fruits)

fruits.append('cherry')
print('updated list:', fruits)

original list ['apples', 'bananas', 'mangoes']
updated list: ['apples', 'bananas', 'mangoes', 'cherry']

In [ ]:
# .pop()
cs_topics=['Python','Data Structures','Balloon Making','Algorithms', 'Clowns 101']

# pop the last element
removed_element=cs_topics.pop()
print(cs_topics)
print(removed_element)

['Python', 'Data Structures', 'Balloon Making', 'Algorithms']
Clowns 101

In [ ]:
# tuples
tup=('zahraan')
print(tup)

# Using Built-in Functions
tup=tuple('Computer Science')
print(tup)

# Using list
li=[1,2,3,4,5,6]
print(tuple(li))
print(type(li))

tup=(3,'welcome',1,'vidyashilp')
print(tup)

# nested coples
tup1=(0,1,2,3)
tup2=(4,5,6)
print(tup1)

zahraan
('C', 'o', 'm', 'p', 'u', 't', 'e', 'r', ' ', 'S', 'c', 'i', 'e', 'n', 'c', 'e')
(1, 2, 3, 4, 5, 6)
<class 'list'>
(3, 'welcome', 1, 'vidyashilp')
(0, 1, 2, 3)

In [ ]:
# sliicing a tuple

tup11=('SJPUC','VU','IISD','DUNES','SCTS')
print(tup11[3:4])

('SJPUC', 'VU', 'IISD', 'DUNES')

In [ ]:
li=['SJPUCC','VU','IISD']
del li[0]
print(li)


# sum of a tuple
tup3=(2)
tup4=(1)
sum=tup3+tup4
print('the sum is',sum)

['VU', 'IISD']
the sum is 3

In [ ]:
tup=('btech','first','second')
print(tup[1][0:4])

firs

In [ ]:
# Tuple Unpacking with Asterisk (*)

tup=(1,2,3,4,5,6)
a, *b, c=tup
print(a)
print(b)
print(c)

1
[2, 3, 4, 5]
6

In [ ]:
# Dictionaries

my_dictionary={}

# Dictionary ={key:value}
my_dictionary={'name':'Zahraan','age':18,'place':'Bangalore'}
print(my_dictionary)

#len method
print(len(my_dictionary))

#keys
print(my_dictionary.keys())

{'name': 'Zahraan', 'age': 18, 'place': 'Bangalore'}
3
dict_keys(['name', 'age', 'place'])

In [ ]:
# dictionary creation, assigning and deleting

d={'math':10,'science':15}
print(d['math'])

#print(Len(d))
d['science']=85
print(d)

del d['math']
print(d)

10
{'math': 10, 'science': 85}
{'science': 85}

In [ ]:
# Membership Operators

d={'name':'vishal','age':21}
print(d)

print('name'in d)
print('email' in d)
print('gender'not in d)

{'name': 'vishal', 'age': 21}
True
False
True

In [ ]:
# Equality and Inequality
d1={'a':1,'b':2}
d2={'b':2,'a':1}
d3={'c':3,"e":4}
d4={'f':69,"e":4}

print(d1==d2)
print(d1!=d2)
print(d3==d4)
print(d3!=d4)

True
False
False
True

In [ ]:
# Creating a nested dictionary
dict={1:'Bangalore',
      2:'A',
      3:{'A':'WELCOME','B':'TO','C':'ALL'}}

print(dict)
print(dict[3]['A'])

{1: 'Bangalore', 2: 'A', 3: {'A': 'WELCOME', 'B': 'TO', 'C': 'ALL'}}
WELCOME

In [ ]:
#adding elements

person={'employee1':{'name':'janice','age':25}}

# adding a new-key value pair to exising inner dicionary
person['employee1']['department']='HR'

# Adding a new inner dictionary
person['employee2']={'name':'Chandler','age':28,'department':'transponster'}

print(person)
print(person['employee1'])
print(person['employee2'])

person['employee3']={'name':'Ross','age':29,'department':'Paleontology'}

print('the employees are:', person)
print(person['employee3'])

#accessing elements
print('name:', person['employee1']['name'])
print('age:',person["employee2"]['department'])
print('department', person['employee3']["department"])

# deleting a key from innner dictionary

del person['employee1']
print(person)

del person['employee3']
print(person)

print('updated nested dictionary:')
print(person)

{'employee1': {'name': 'janice', 'age': 25, 'department': 'HR'}, 'employee2': {'name': 'Chandler', 'age': 28, 'department': 'transponster'}}
{'name': 'janice', 'age': 25, 'department': 'HR'}
{'name': 'Chandler', 'age': 28, 'department': 'transponster'}
the employees are: {'employee1': {'name': 'janice', 'age': 25, 'department': 'HR'}, 'employee2': {'name': 'Chandler', 'age': 28, 'department': 'transponster'}, 'employee3': {'name': 'Ross', 'age': 29, 'department': 'Paleontology'}}
{'name': 'Ross', 'age': 29, 'department': 'Paleontology'}
name: janice
age: transponster
department Paleontology
{'employee2': {'name': 'Chandler', 'age': 28, 'department': 'transponster'}, 'employee3': {'name': 'Ross', 'age': 29, 'department': 'Paleontology'}}
{'employee2': {'name': 'Chandler', 'age': 28, 'department': 'transponster'}}
updated nested dictionary:
{'employee2': {'name': 'Chandler', 'age': 28, 'department': 'transponster'}}

In [ ]:
#check if a key exists

d1={'name':'damon','occup':'vamp'}
d2={'name':'stefan','occup':'vampp'}
print('she'in d1)
print('name'in d2)

False
True

In [ ]:
# Sets

student_id={114,115,115,116}
print(student_id)

vowel_class={'a','e','i','i','o','u','o'}
print(vowel_class)

random_set={'zahraan',1,'laptop',8}
print('mixed-set:',random_set)

# adding items to a set
numbers={42,53,58}
print('initial set:', numbers)
numbers.add(63)
print('added set', numbers)

# update
companies={'gucci','uspa','ysl'}
tech_companies={'apple','samsun','xiami'}
companies.update(tech_companies)
print(companies)
print(tech_companies)

# remove
print('initial set:', tech_companies)
removedValue=tech_companies.discard('samsun')
print(tech_companies)

{114, 115, 116}
{'i', 'a', 'o', 'e', 'u'}
mixed-set: {8, 1, 'laptop', 'zahraan'}
initial set: {42, 58, 53}
added set {42, 58, 53, 63}
{'xiami', 'apple', 'samsun', 'uspa', 'gucci', 'ysl'}
{'samsun', 'xiami', 'apple'}
initial set: {'samsun', 'xiami', 'apple'}
{'xiami', 'apple'}

In [ ]:
# set operations-union

A={1,3,5}
B={0,2,4}

print('Union Using|:',A|B)

print('Uninion Using():', A.union(B))

Union Using|: {0, 1, 2, 3, 4, 5}
Union Using|: {0, 1, 2, 3, 4, 5}

In [ ]:
# set operation-intersection

A={1,3,5,8,9}
B={1,3,5,9,2,6}
print(A&B)

In [ ]:
A={3,2,15,1,9,8,10}
sorted_desc=sorted(A,reverse=True)
print(sorted_desc)

[15, 10, 9, 8, 3, 2, 1]

In [ ]:
# arithmetic operators
x=10
y=5
addition=x+y
subtraction=x-y
multiplication=x * y
division=x/y
modulo=x % y
exponentiation= x ** y
floor_division=x // y
print(addition)
print(subtraction)
print(division)
print(multiplication)
print(modulo)
print(exponentiation)
print(floor_division)
print(x)

15
5
2.0
50
0
100000
2
10

In [ ]:
x=10
x+=5
print(x)
x -=3
print(x)
x *=2
print(x)
x /=4
print(x)

equal_to=x==y
not_equal_to=x !=y
less_than=x<y
print(equal_to)
print(not_equal_to)
print(less_than)

15
12
24
6.0
False
True
False

In [ ]:
# bitwise operators
x=5
x=3
bitwise_and=x&y
bitwise_or=x|y
bitwise_xor=x^y
bitwise_not_x=~x
left_shift=x<<1
right_shift=x>>1
print(bitwise_and)
print(bitwise_or)
print(bitwise_xor)
print(bitwise_not_x)
print(left_shift)
print(right_shift)

1
7
6
-4
6
1

In [ ]:
# Calculate income tax for the input income by adhering to the Indian rules.
# there is no tax on income till rs.250000
# 5% on b\w rs.250001 to rs.500000,
# 10% on between rs,500001 to rs.1000000,
# 20% on b\w rs.1000001 to rs.200000,
# 30% on b\w rs. 2000001 to rs.3000000,
# 40% on above rs.3000001

income=0
if income==250000:
  tax=0
elif income==500000:
  tax=(income-500000)*0.05
else:
  tax=(500000-250001)*0.05
print('tax amount', tax)

tax amount 12499.95

In [ ]:
income=0
if income==500001:
  tax=0
elif income==1000000:
  tax=(income-1000000)*1.0
else:
  tax=(1000000-500000)*1.0
print('tax amount', tax)

tax amount 500000.0

In [ ]:
income=0
if income==1000001:
  tax=0
elif income==2000000:
  tax=(income-2000000)*2.
else:
  tax=(2000000-1000001)*2.0
print('tax amount', tax)

tax amount 1999998.0

In [ ]:
# display 'welcome' if user enters the number which is a multiple of '7' or say 'bye'
# to check whether the enetered number is 3 digit or not

num=int(input('enter your age:'))
if num%7==0:
        print('WELCOME')
else:
        print('BYE')

enter your age:49
WELCOME

In [ ]:
age=(input('enter your agee:' ))
print(len(age))
if age==100:
  print('yes')
else:
  age==999
  print('no')

enter your agee:45
2
no

In [ ]:
num=(input('enter your num:' ))
print('length of your number is:',len(num))
if num==100:
  print('Your Number is 3 digits long')
else:
  num==999
  print('Your Number isnt 3 Digits long')

enter your num:6969
length of your number is: 4
Your Number isnt 3 Digits long

In [ ]:
''' if condition:
    print()
else:
  print()

ternary/conditional'''


userscore=40
print('next level') if userscore>50 else print('repeat level')

repeat level

In [ ]:
age=18
print('is an adult') if age>=18 else print('A minorr')

is an adult

In [ ]:
is_hot=False
drink='iced tea' if is_hot else 'coffee'
print(drink)

is_hot=True
drink='iced coffee' if is_hot else 'coffee'
print(drink)

coffee
iced coffee

In [ ]:
user_logged_in= True
status='Welcome back'if user_logged_in else 'please log in'
print(status)

Welcome back

In [ ]:
# using lists
numbers=(0,1,2,3,4,5,6,7,8,9)
length_status='long list' if len(numbers)>5 else 'short list'
print(length_status)
print('the length of your list is:', len(numbers))

long list
the length of your list is: 10

In [ ]:
#using tuples
t=90
('water is not boiling', 'water is boiling')[t>=100]

l=190
('he is tall','he is short')[l<150]

'he is tall'

In [ ]:
# using dictionaries
t=90
{True:'water is boiling',False:'Water is not boiling'}[t>=100]

'Water is not boiling'

In [ ]:
role='admin'
access='full access'if role=='admin' else 'limited access'
print(access)

full access

In [ ]:
data=[1,8,9,0,6]
maximum=max(data)
minimum=min(data)
print(maximum)
print(minimum)

9
0

In [ ]:
# menu drive
print('\n Menu')
print('1.Addition')
print('2.Subtraction')
print('3.Division')
ch=int(input('Enter Your Choice'))
if ch==1:
  # code for addition take input from the user
  print(ch)

 Menu
1.Addition
2.Subtraction
3.Division
Enter Your Choice3

In [ ]:
print('Menu')
print('1.Addition')
print('2.Subtrction')
print('3.Division')
ch=int(input('Enter your choice='))
a=int(input('Enter your value='))
b=int(input('Enter your value='))
if ch==1:
  # code for addition take input from the user
  c=a+b
  print('The addition for two values is:',c)
  print(f'The addition of {a} and {b} values is=', c)

elif ch==2:
  c=a-b
  print('The subtraction of two variables is:',c)

else:
  print('Invalid choice')

Menu
1.Addition
2.Subtrction
3.Division
Enter your choice=2
Enter your value=753
Enter your value=951
The subtraction of two variables is: -198

In [ ]:
# for loops
string1='Hello'
for str1 in string1:
  print(str1)


numbers_list=1,2,3,4,5,6,7,8,9
for num in numbers_list:
  print(num)

H
e
l
l
o
1
2
3
4
5
6
7
8
9

In [ ]:
# for dictionares

dict1={1:'hello',2:'hai',3:'hi'}
for key,value in dict1.items():
  print(f'The key is {key} and the value is {value}')

The key is 1 and the value is hello
The key is 2 and the value is hai
The key is 3 and the value is hi

In [ ]:
#range
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
for l in range(2,5):
  print(l)


for z in range(2,5,2):
  print(z)

2
3
4
2
4

In [ ]:
n=14
for i in range(0,n):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13

In [ ]:
n=6
for i in range(4,6):
  print(i)

4
5

In [ ]:
# loop controls-break, continue, pass

for i in range(5):
  if i==3:
    break
else:
  print(i)




for i in range(5):
  if i==3:
    continue
else:
  print(i)

4

In [ ]:
list1=['A','B','C','D']
list2=[1,2,3,4]
for alpha, number in zip(list1,list2):
  print(f'{alpha} AND {number}')

A AND 1
B AND 2
C AND 3
D AND 4

In [ ]:
# using typecasting
list1=['A','B','C','D']
list2=[1,2,3,4]

zipped_data=zip(list1,list2)
print(list(zipped_data))

[('A', 1), ('B', 2), ('C', 3), ('D', 4)]

In [ ]:
# unzip
fruits_quantities=[('Apple',10), ('Banana',20),('Orange',30)]
fruits, quantities=zip(*fruits_quantities)

print(f'Fruits:{fruits}')
print(f'Quantities:{quantities}')

Fruits:('Apple', 'Banana', 'Orange')
Quantities:(10, 20, 30)

In [ ]:
age=int(input('ENTER YOUR AGE:'))
if age>=18:
  print('Welcome')

else:
  print('ENTRY RESTRICTED!!!!')

ENTER YOUR AGE:19
Welcome

In [ ]:
n=11
for i in range(0,n):
  print(i)


if i%2==0:
  print(i)

0
1
2
3
4
5
6
7
8
9
10
10